<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.4.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.4.3">
    <script>timeout(time: 9999999, unit: &apos;DAYS&apos;) {
  sleep time: 2, unit: &apos;MINUTES&apos;
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>